.Horses-list {
  list-style-type: none;
  margin: 0 25%;
  padding: 0;
}

.Horses-list-item {
  display: block;
  border: none;
  background-color: #ccc;
  padding: .25em;
  font-size: 1.5em;
  width: 100%;
  cursor: pointer;
  transition: background-color 250ms ease-out;
}
.Horses-list-item:hover {
  background-color: #aaa;
}
